/*
kolory główne w mojej stronie
#1c2331 - głęboki granatowy
#0f3d91 - jasny granatowy
#384259 - szary nasycony kolor

czcionka:
Open Sans
*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1EE6CB;
}

main{
    background-color: #1EE65A;
    
}

header{
    background-color: #2DFCA6;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #21FE25;
    border-top: 1px solid #ccc; 
}